Repository jupyter-book/mystmd, pull requests merged in 2025-10, with the labels that each got.

#2305 🔑 Add `--keep-host` to `build` command
  .changeset/honest-zebras-swim.md
  packages/myst-cli/src/cli/build.ts
Labels: bug

#2313 🔎 Set `HOST` environment variable to `127.0.0.1` on ReadTheDocs CI
  .changeset/honest-jeans-enjoy.md
  packages/myst-cli/src/build/site/start.ts
Labels: enhancement

#2314 📦 Updates to build packages (typescript, esbuild, vite, nanoid)
  .changeset/gold-cooks-wait.md
  package-lock.json
  package.json
  packages/markdown-it-myst/src/directives.ts
  packages/markdown-it-myst/src/index.ts
  packages/markdown-it-myst/src/roles.ts
  packages/myst-cli-utils/src/exec.ts
  packages/myst-cli/package.json
  packages/myst-cli/src/transforms/images.ts
  packages/myst-common/package.json
  packages/myst-directives/package.json
  packages/myst-templates/src/download.ts
  packages/myst-to-docx/src/types.ts
  packages/myst-to-md/src/types.ts
Labels: maintenance

#2297 📦 Update `@jupyterlab/services` lockfile pin
  .changeset/neat-games-bow.md
  package-lock.json
  packages/myst-cli/package.json
  packages/myst-execute/package.json
Labels: maintenance

#2326 🏷️ Add autolabeler rules
  .github/labeler.yml
  .github/workflows/auto-label.yml
  .github/workflows/enforce-label.yml
Labels: maintenance
