Repository jupyter-book/mystmd, pull requests merged in 2025-06, with the labels that each got.

#2081 📄 Document footer usage
  docs/dropdowns-cards-and-tabs.md
  docs/website-landing-pages.md
  docs/website-navigation.md
  docs/website-style.md
Labels: documentation

#2087 🤖 Deploy Docs in CI
  .github/workflows/docs.yml
Labels: enhancement

#1999 📖 Update documentation on docs contributions
  docs/contribute-docs.md
Labels: documentation

#2091 📦 Bump turbo repo
  package-lock.json
  package.json
  turbo.json
Labels: maintenance

#2093 🔌 Load plugins earlier, before parsing frontmatter parts
  .changeset/gentle-feet-relax.md
  packages/myst-cli/src/config.ts
  packages/myst-cli/src/plugins.ts
  packages/myst-cli/src/process/file.ts
  packages/myst-cli/src/session/session.ts
  packages/myst-cli/src/session/types.ts
  packages/myst-common/src/types.ts
Labels: bug

#2107 🩹 Add changeset for `myst-frontmatter`
  .changeset/rotten-needles-cough.md
Labels: bug

#2111 🗾 HTML Image Width
  .changeset/proud-comics-bathe.md
  packages/myst-transforms/src/html.spec.ts
  packages/myst-transforms/src/html.ts
Labels: enhancement

#2094 Add doc for Apache httpd deployment
  docs/deployment-httpd.md
  docs/deployment.md
  docs/myst.yml
Labels: documentation

#2115 🧮 Improve inline math symbol replacements
  .changeset/light-pillows-love.md
  packages/myst-cli/src/process/mdast.ts
  packages/myst-transforms/src/mathSimplifications.spec.ts
  packages/myst-transforms/src/mathSimplifications.ts
Labels: bug

#2097 🫥 Exclude hidden entries from site manifests
  .changeset/thick-seahorses-pump.md
  docs/table-of-contents.md
  packages/myst-cli/src/build/utils/projectManifest.ts
  packages/myst-cli/src/process/site.ts
  packages/myst-transforms/src/enumerate.ts
Labels: enhancement

#2125 ⚠️ Fix warning about `.*` image extension
  .changeset/chilled-onions-jump.md
  packages/myst-cli/src/transforms/images.ts
Labels: bug

#2121 Document our lightweight development prioritization process
  docs/contributing.md
Labels: documentation

#2128 Clarify site parts for footers
  docs/document-parts.md
  docs/myst.yml
  docs/website-navigation.md
Labels: documentation
