Repository jupyter-book/mystmd, pull requests merged in 2025-07, with the labels that each got.

#2146 👩🏼‍💼 Update OSI Licenses
  .changeset/selfish-candles-hear.md
  packages/myst-frontmatter/src/licenses/licenses.ts
Labels: maintenance

#2144 ➡️ Indentation of log message in `crossReference`
  .changeset/violet-ants-try.md
  packages/myst-cli/src/transforms/crossReferences.ts
Labels: bug

#2153 ⏱️ Remove time unit from timing message
  .changeset/famous-mayflies-camp.md
  packages/myst-cli/src/transforms/crossReferences.ts
Labels: bug

#2152 🎬 More whitelabelling for `myst init`
  .changeset/strange-beans-listen.md
  packages/myst-cli/src/init/gh-actions/index.ts
  packages/myst-cli/src/utils/whiteLabelling.ts
Labels: enhancement

#2154 📖 A few miscellaneous documentation updates
  docs/code.md
  docs/index.md
  docs/overview.md
Labels: documentation

#2191 Attach release to pre-existing tag
  .github/workflows/publish-github-release.yml
Labels: maintenance

#2193 Clean up title and fix tag name in CI/CD
  .github/workflows/publish-github-release.yml
  .github/workflows/release.yml
Labels: maintenance

#2206 DOC: Adding upgrade guide link
  docs/index.md
Labels: documentation

#2210 📖 Swapping out python references to an up-to-date version
  docs/external-references.md
  docs/myst.yml
  packages/myst-transforms/docs/links.md
  packages/mystmd/tests/outputs/site-xrefs-config.json
  packages/mystmd/tests/outputs/site-xrefs-index.json
  packages/mystmd/tests/site-xrefs/myst.yml
Labels: documentation
