Repository jupyter-book/mystmd, pull requests merged in 2025-08, with the labels that each got.

#2242 🐛 Typst option on inlineMath node
  .changeset/silver-zebras-hide.md
  packages/myst-spec-ext/src/types.ts
Labels: bug

#2243 🔄 Refactor myst-parse to expose parsing options
  .changeset/neat-knives-play.md
  packages/myst-cli/src/process/myst.ts
Labels: maintenance

#2244 🔄 Refactor admonition parsing to expose header function
  .changeset/purple-penguins-dress.md
  packages/myst-transforms/src/admonitions.ts
  packages/myst-transforms/src/index.ts
Labels: maintenance

#2246 📖 Fix typo in frontmatter.md for CC-BY-NC-SA license
  docs/frontmatter.md
Labels: documentation

#2241 🐛 mdast lists need to be in paragraphs
  .changeset/smart-feet-jump.md
  packages/myst-parser/package.json
  packages/myst-parser/src/fromMarkdown.ts
  packages/myst-parser/src/tokensToMyst.ts
  packages/myst-parser/src/transforms/index.ts
  packages/myst-parser/src/transforms/listItemParagraphs.spec.ts
  packages/myst-parser/src/transforms/listItemParagraphs.ts
  packages/myst-parser/src/tsconfig.json
  packages/myst-parser/tests/commonmark.spec.ts
  packages/myst-parser/tests/directives/table.yml
  packages/myst-parser/tests/myst.spec.ts
  packages/myst-parser/tests/tasklists.spec.ts
  packages/myst-to-tex/src/index.ts
  packages/myst-to-tex/tests/basic.yml
  packages/myst-to-typst/tests/basic.yml
  packages/mystmd/tests/indices/outputs/recipes.json
Labels: bug

#2256 🐛 List elements with `footnoteReference`s as children
  .changeset/smooth-insects-exercise.md
  packages/myst-parser/src/transforms/listItemParagraphs.spec.ts
  packages/myst-parser/src/transforms/listItemParagraphs.ts
Labels: bug
